version: 2

base_image: &base_image
  image: circleci/node:6

job_common: &job_common
  docker:
    - <<: *base_image

restore: &restore
  restore_cache:
    key: code-{{ .Revision }}

store_artifacts: &store_artifacts
  store_artifacts:
    path: output
    destination: /

jobs:
  build:
    <<: *job_common
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "package.json" }}-{{ checksum "yarn.lock" }}
            - deps-{{ checksum "package.json" }}-
            - deps-
      - run: if [[ "${CIRCLE_BRANCH}" =~ ^greenkeeper/ ]]; then yarn install; else yarn install --frozen-lockfile; fi
      - run: ./node_modules/.bin/greenkeeper-lockfile-update
      - save_cache:
          key: deps-{{ checksum "package.json" }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - save_cache:
          key: code-{{ .Revision }}
          paths:
            - .

  test-style:
    <<: *job_common
    steps:
      - <<: *restore
      - run: yarn run test-style
      - <<: *store_artifacts

  test-integration:
    <<: *job_common
    parallelism: 2
    steps:
      - <<: *restore
      - run: circleci tests glob ".test/*.sh" | circleci tests split --split-by=filesize | xargs /usr/bin/env
      - <<: *store_artifacts

  greenkeeper:
    <<: *job_common
    steps:
      - <<: *restore
      - run: ./node_modules/.bin/greenkeeper-lockfile-upload

  release:
    <<: *job_common
    steps:
      - <<: *restore
      - run: mkdir -p ~/.ssh
      - run: echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
      - run: yarn config set registry https://registry.npmjs.org/
      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - run: git config --global user.email "bot@nevir.net"
      - run: git config --global user.name "Autopublish Bot"
      - run: yarn run release
      - <<: *store_artifacts

workflows:
  version: 2
  build-test-release:
    jobs:
      - build
      - test-style:
          requires:
            - build
      - test-integration:
          requires:
            - build
      - greenkeeper:
          requires:
            - test-style
            - test-integration
      - release:
          requires:
            - test-style
            - test-integration
          filters:
            branches:
              only:
                - master
                - /v\d+\.\d+/
